@charset 'UTF-8';

header > h1{
    text-align: center;
}

header > p{
   text-align: center;
}

.cad{
 color:#1e90ff;
 text-align: center; 
}

.form-prestador{
    max-width: 400px;
    margin: 40px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.16);

}

.form-prestador input{
    width: 94%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid black;
    font-size: 14px;
}

.form-prestador button{
    width: 100%;
    padding: 10px;
    background: #1e90ff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}